.rate{
    background-color:white;
}


#star5{
  background-color:white;  
}

#star4{
  background-color:white;  
}

#star3{
  background-color:white;  
}

#star2{
  background-color:white;  
}

#star1{
  background-color:white;  
}