*{font-family:Arial, sans-serif;
color:#584A48;
background-color: #FFF3EC;
}

#h{
    display:flex;
    justify-content: space-between;
    height: 100%;
  width:100%;
}


#p{
    
width:100%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

#pp{height:30%;}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color:#584A48;
  font-family:Cursive;
  position:absolute;
  top:80%;
  left:10%;
}

.button:hover{
    color:black;
    background-color: #AF836C;
}


h1{text-align: Center;}

.grid-container {
  display: grid;
  grid-template-columns:auto auto auto auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.2px solid #EFDFD7;
  font-size: 17px;
  text-align: center;
  height:100%;
}

.grid-container1 {
  display: grid;
  grid-template-columns:auto auto auto;
}

/* ********************************login**************************************/

.login-form{
    background-color:white;
    

}

.form {
  position: relative;
  z-index: 1;
  background: white;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form .b {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:#584A48;
  width: 90%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  
  -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;

}
.form .b:hover,.form button:active,.form button:focus {
  background: #AF836C;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

/* ********************************Search All**************************************/

hr{color:#584A48;}




.genre:hover{color:black;}


/* ********************************Search All**************************************/

#add button{font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background:#584A48;
  width:20%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
margin:auto;}

#add button:hover{color:black;}


.change_icons{background-color: transparent;;
display:none;
bottom:0.1%;
left:13%;}

.btn{font-size:40px;
border-radius:10px;}

.grid-item:hover .change_icons{display:block;}
.grid-item:hover .pic{opacity:0.6;}

.pic{height:74%;
width:70%;}

.star{background-color: white;}
.checked{color:orange;}

#cart{font-size:40px;}
#cart:hover{color:black;}


/* ********************************POP UP**************************************/


/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

.cancelbtn:hover{opacity:1;}
.deletebtn:hover{opacity:1;}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: transparent;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */

 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
}

body {
    font-family: sans-serif
}
.dialog-ovelay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 999999
}
.dialog-ovelay .dialog {
    width: 400px;
    margin: 100px auto 0;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-radius: 3px;
    overflow: hidden
}
.dialog-ovelay .dialog header {
    padding: 10px 8px;
    background-color: #f6f7f9;
    border-bottom: 1px solid #e5e5e5
}
.dialog-ovelay .dialog header h3 {
    font-size: 14px;
    margin: 0;
    color: #555;
    display: inline-block
}
.dialog-ovelay .dialog header .fa-close {
    float: right;
    color: #c4c5c7;
    cursor: pointer;
    transition: all .5s ease;
    padding: 0 2px;
    border-radius: 1px    
}
.dialog-ovelay .dialog header .fa-close:hover {
    color: #b9b9b9
}
.dialog-ovelay .dialog header .fa-close:active {
    box-shadow: 0 0 5px #673AB7;
    color: #a2a2a2
}
.dialog-ovelay .dialog .dialog-msg {
    padding: 12px 10px
}
.dialog-ovelay .dialog .dialog-msg p{
    margin: 0;
    font-size: 15px;
    color: #333
}
.dialog-ovelay .dialog footer {
    border-top: 1px solid #e5e5e5;
    padding: 8px 10px
}
.dialog-ovelay .dialog footer .controls {
    direction: rtl
}
.dialog-ovelay .dialog footer .controls .button {
    padding: 5px 15px;
    border-radius: 3px
}
.button {
  cursor: pointer
}
.button-default {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgba(204, 204, 204, 0.5);
    color: #5D5D5D;
}
.button-danger {
    background-color: #f44336;
    border: 1px solid #d32f2f;
    color: #f5f5f5
}
.link {
  padding: 5px 10px;
  cursor: pointer
}

.genre1{font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:#584A48;
  border:sloid 0.1px white;
  width:20%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

